fastapi
uvicorn
langchain
langchain-openai
langchain-chroma
langchain-text-splitters
langgraph
pymysql
sqlalchemy
pydantic
pypdf
langchain-google-vertexai
google-cloud-aiplatform
langchain-community
python-dotenv
python-multipart

